<!DOCTYPE html>
<html lang="en" data-ng-app="ctk">
<head>
	<meta charset="UTF-8">
	<title>Cadastros</title>
	<!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  <style>
  	.wrapper{
  		max-width: 600px;
  		margin: 0 auto;
  	}
  </style>
<!-- Menu Superior -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>
<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Eduardo Alexandre</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#">Home</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Contato</a></li>
    </ul>
  </div>
</nav>
<!-- Fim -- Menu Superior -->
</head>

<body data-ng-controller="UserController as User">

     
<section class="row wrapper">
<h2>Cadastros de Clientes</h2>
<!--Form Cadastros de clientes-->
<p class="col s12">
	<label>
		<input type="text" data-ng-model="User.form.name" placeholder="Digite o Nome">
	</label>
	<br>
	<label>
		<input type="email" data-ng-model="User.form.email" placeholder="Digite o email">
	</label>
	<label>
		<input type="text" data-ng-model="User.form.telefone" placeholder="Digite o telefone">
	</label>
	<label>
		<input type="text" data-ng-model="User.form.bairro" placeholder="Digite o bairro">
	</label>
</p>
<!--Fim -- Form Cadastros de clientes-->

<!--Botão de adicionar e salvarclientes-->
<button data-ng-click="User.add(User.form)" class="btn btn-large orange waves-effect waves-light col s6" type="submit" name="action">Adicionar Clientes
</button>
<button data-ng-click="User.save(User.form)" class="btn btn-large green waves-effect waves-light col s6" type="submit" name="action">Salvar Clientes
</button>
<!--Fim -- Botão de remover clientes-->

<span data-ng-init="predicate = 'name' "></span>

	<table>
		<thead>
			<tr>
				<th colspan="5">
					<label>
						<input ng-model="searchUser" placeholder="Buscar Usuários">
					</label>
				</th>
			</tr>
			<tr>
			<th>Selecionar</th>
				<th>Name</th>
				<th>E-mail</th>
				<th>Telefone</th>
				<th>Bairro</th>
				<th>Serviço</th>
			</tr>
		</thead>
			<tbody>
				<tr data-ng-repeat="user in User.users | filter:searchUser">
		
			<td>
			<input type="checkbox" id="user-{{$index}}" ng-model="user.selecionado" />
			<label for="user-{{$index}}"></label>
			</td>

			<td>{{ user.name }}</td>
			<td>{{ user.email }}</td>
			<td>{{ user.telefone }}</td>
			<td>{{ user.bairro }}</td>
			<td>
				<button data-ng-click="User.edit(user, $index)" class="btn btn-large light-blue waves-effect waves-light col s12" type="submit" name="action">Editar
				</button>
			</td>


			</tr>
			</tbody>
	</table>
<!--Botão de remover clientes-->
			<button data-ng-click="User.remove(User.users)" class="btn btn-large red waves-effect waves-light col s12" type="submit" name="action">Remover Clientes</button>
<!--Fim -- Botão de remover clientes-->
	</section>	

	<script src="js/angular.min.js"></script>
	<script src="js/style.js"></script>
	<script>
		angular.module('ctk', [])
		.controller('UserController', UserController);

			function UserController() {
				var vm = this;
				vm.titulo = "Cadastros";
				vm.users = [
					{name: 'Eduardo', email: 'eduardo@eduardo.com', telefone:'1111-1111', bairro:'bairro1'},
					{name: 'Alexandre', email: 'alexandre@alexandre.com', telefone:'2222-2222', bairro:'bairro2'},
					{name: 'Lucio', email: 'lucio@lucio.com', telefone:'3333-3333', bairro:'bairro3'}
				];
				function getKeylength(){
					return Object.keys(angular.copy(vm.users[0])).length;
				}
				vm.keysLenght = getKeylength();

//Função adicionar cvlientes
			vm.add = add;
			function add(user) {
				vm.users.push(angular.copy(user));
				}

				vm.removeByEmail = removeByEmail;
			function removeByEmail(email) {
				vm.users = vm.users.filter(function(el){
					return el.email !== email });
				}
//Fim -- Função adicionar cvlientes

//Função Remove clientes
				vm.remove = remove;
			function remove(users) {
				vm.users = users.filter(function(el){
					return !el.selecionado });
				}
//Fim -- Função Remove clientes

//Função VM Edit clientes
				vm.edit = edit;
			function edit(user, index) {
				vm.form = angular.copy(user);
				vm.form.index = index;
				}
//Fim -- Função VM Edit clientes

//Função VM Save clientes
				vm.save = save;
			function save(user) {
				var users = vm.users.map(function(el, i){
					if (i === user.index) {
						delete user.index;
						return user;
					}
					return el;
				});
				vm.users = users;
				}
//Fim -- Função VM Save clientes
			}
	</script>

<!--Footer-->
	 <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Eduardo Alexandre</h5>
               <p>Analista e Desenvolvedor de Sistemas.</p>  
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Blog</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Segurança</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Hacker</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Mobile</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Web</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Desktop</a></li>
                </ul>

              </div>
            </div>
          </div>
	     <div class="footer-copyright">
            <div class="container">
            © 2016 Copyright Eduardo Alexandre
            <a class="grey-text text-lighten-4 right" href="#!">Ctk Soluções em T.I</a>
            </div>
          </div>
        </footer>
</body>
</html>