<!DOCTYPE html>
<html lang="en" data-ng-app="ctk">
<head>
	<meta charset="UTF-8">
	<title>ctk Soluções | Controller</title>
</head>
<body data-ng-controller="UserController as User">
<h1>{{ User.titulo }}</h1>
<label>Busca: <input ng-model="searchUser"></label>

<button data-ng-click="User.add()">Add User</button>

<span data-ng-init="predicate = 'name' "></span>

	<table>
		<thead>
				<tr>
				<th data-ng-repeat="(key, value) in User.users[0]">{{ key }}</th>
				</tr>
		</thead>
			<tbody>
				<tr data-ng-repeat="user in User.users | orderBy:predicate | filter:searchUser">
					<td data-ng-repeat="(key, value) in user">{{ value }}</td>
				</tr>
			</tbody>
		</thead>
	</table>

	<div data-ng-controller="CursoController as Curso">
	<h2>{{ Curso.titulo }}</h2>
	<button data-ng-click="Curso.add()">Add Curso</button>

		<ul>
	<li data-ng-repeat="curso in Curso.cursos">
		{{ curso.name }} - {{ curso.teacher }}
	</li>
</ul>
	</div>

	<script src="js/angular.min.js"></script>
	<script>
		angular.module('ctk', [])
		.controller('UserController', UserController)
		.controller('CursoController', CursoController);

			function UserController() {
				var vm = this;
				vm.titulo = "ctk - Users";
				vm.users = [
					{name: 'Eduardo', email: 'eduardo@eduardo.com'},
					{name: 'Alexandre', email: 'alexandre@alexandre.com'},
					{name: 'Lucio', email: 'lucio@lucio.com'}
				];

			vm.add = add;
			function add() {
				vm.users.push({name: 'Exemplo', email: 'exe@exemplo.com'})
				}
			}

			function CursoController() {
				var vm = this;
				vm.titulo = "ctk - Cursos";
				vm.cursos = [
					{name: 'javascript', teacher: 'Eduardo'},
					{name: 'Xamarin', teacher: 'Alexandre'},
					{name: 'PHP', teacher: 'Lucio'}
				];

				vm.add = add;
			function add() {
				vm.cursos.push({name: 'Curso Exemplo', teacher: 'Prof Exemplo'})
				}
			}
	</script>
</body>
</html>